#!/bin/bash

# Fill the variables for AWS infrastructure
APP_NAME=
S3_BUCKET=
GIT_CONNECTION_ARN=
GIT_REPO=
GIT_BRANCH=
LAMBDA_HANDLER=

# Fill the variables for the application
JWT_SECRET=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
PORT=
GOOGLE_MAPS_API_KEY=

aws s3 cp ./cloudformation/init.zip s3://$S3_BUCKET/$APP_NAME/$APP_NAME.zip --no-progress

aws cloudformation create-stack \
    --stack-name $APP_NAME \
    --template-body file://cloudformation/main.yml \
    --capabilities CAPABILITY_NAMED_IAM \
    --parameters ParameterKey=AppName,ParameterValue=$APP_NAME \
                 ParameterKey=S3Bucket,ParameterValue=$S3_BUCKET \
                 ParameterKey=GitConnectionArn,ParameterValue=$GIT_CONNECTION_ARN \
                 ParameterKey=GitRepo,ParameterValue=$GIT_REPO \
                 ParameterKey=GitBranch,ParameterValue=main \
                 ParameterKey=LambdaHandler,ParameterValue=$LAMBDA_HANDLER \
                 ParameterKey=JWTSecret,ParameterValue=$JWT_SECRET \
                 ParameterKey=DBUsername,ParameterValue=$DB_USERNAME \
                 ParameterKey=DBPassword,ParameterValue=$DB_PASSWORD \
                 ParameterKey=DBName,ParameterValue=$DB_NAME \
                 ParameterKey=DBHost,ParameterValue=$DB_HOST \
                 ParameterKey=DBPort,ParameterValue=$DB_PORT \
                 ParameterKey=Port,ParameterValue=$PORT \
                 ParameterKey=GoogleMapsAPIKey,ParameterValue=$GOOGLE_MAPS_API_KEY